<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Event timer</title>
  </head>
  <body>
    <div class="container">
      <form class="event">
        <div class="eventTextBlock">
          <textarea class="eventText" name="text" id="" cols="30" rows="10" placeholder="Любой текст..."></textarea>
        </div>
        <div>
            <input type="text" class="eventDate" placeholder="Дата">
        </div>
        <div>
            <input type="text" class="eventTime" placeholder="Время">
        </div>
        <div>
            <button class="eventCreate" type="button">Создать</button>
        </div>
      </form>
    </div>
  </body>
</html>
